blis==0.2.4
Brotli==1.0.9
certifi==2022.6.15
charset-normalizer==2.0.12
click==8.0.4
ConfigArgParse==1.5.3
cycler==0.11.0
cymem==2.0.6
Cython==0.29.30
dataclasses==0.8
decorator==4.4.2
docopt==0.6.2
dyNET==2.1
en-core-web-md==2.1.0
Flask==2.0.3
Flask-Assets==2.0
Flask-Compress==1.12
idna==3.3
importlib-metadata==4.8.3
importlib-resources==5.4.0
itsdangerous==2.0.1
Jinja2==3.0.3
jsonschema==2.6.0
kiwisolver==1.3.1
Logbook==1.5.3
MarkupSafe==2.0.1
matplotlib==3.3.4
murmurhash==1.0.7
networkx==2.5.1
nltk==3.4.3
numpy==1.19.5
parsimonious==0.8.1
Penman==0.6.2
Pillow==8.4.0
plac==0.9.6
preshed==2.0.1
pyparsing==3.0.9
pyspotlight==0.7.2
python-dateutil==2.8.2
requests==2.27.1
SEMSTR==1.2.2
six==1.16.0
smatch==1.0.1
spacy==2.1.3
srsly==1.0.5
thinc==7.0.8
tqdm==4.64.0
TUPA==1.4.2
typing-extensions==4.1.1
UCCA==1.2.3
urllib3==1.26.10
wasabi==0.9.1
webassets==2.0
Werkzeug==2.0.3
word2number==1.1
zipp==3.6.0
